*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
feature_home/libs/
https://raw.githubusercontent.com/gitpitch/gitpitch/master/assets/images/gp-slideshow-urls.pnghttps://raw.githubusercontent.com/gitpitch/gitpitch/master/assets/images/gp-slideshow-urls.png